Config {
	host = "irc.datanet.ee",
	port = 6667,
	nick = "Hircb0t",
	messages = [
		("^!quit$", [Perm "root", Quit "Returning to hell..."]),
		("^!reload$", [Perm "root", Rehash, Say "Matrix ok."]),
		("^= ([^:?]*)$", [Calc "$1"]),
		("^(\\?\\?? .*|!\\? .*|!new$)",
		 [Plugin ["/usr/bin/perl", "dict.pl"] "$: $1"]),
		("^((!learn|!add) .*)",
		 [Perm "mdict", Plugin ["/usr/bin/perl", "dict.pl"] "$: $1"]),
		("^((!brainwash|!bite|!forget) .*)",
		 [Perm "dict", Plugin ["/usr/bin/perl", "dict.pl"] "$: $1"]),
		("^!say\\s+((!learn|!add) .*)",
		 [Perm "mdict", Append "say.log" "<$:> $1\n", SayTo "#hirctest" "$1",
		  Plugin ["/usr/bin/perl", "dict.pl"] "$: $1"]),
		("^!insult\\s+(\\S(.*\\S)?)\\s*$", [Perm "dict", RandLine "insult.txt"]),
		("^!insult\\s*$", [RandLine "insult.txt"]),
		("^!compliment\\s+(\\S(.*\\S)?)\\s*$", [RandLine "compliments.txt"]),
		("^!history +([^ ].*)", [Perm "dict", Exec "./history" ["base.dict", "$1"]]),
		("^!seen *$", [RandLine "insult.txt"]),
		("^!seen +([^ ]+)", [Exec "/usr/bin/perl" ["seen.pl", "$0", "$1"]]),
		("^!decide\\s+(\\S.*)$",
		 [Exec "/usr/bin/perl" ["decide.pl", "$1"]]),
		("^!plan\\s+(\\S.*)$", [Perm "mdict",
			Say "1. $1", Say "2. ...", RandLine "plans.txt"]),
		("^!time$", [Exec "/bin/date" []]),
		("^!country\\s+(\\w+)",
		 [Exec "./acrogrep" ["countries.txt", "$1"]]),
		("^!say\\s+((m8ga\\W*|T3EE\\W*)*(.*))$",
		  [Perm "mdict", Append "say.log" "<$:> $1\n",
		   SayTo "#hirctest" "$3"]),
		("^!emote\\s+(.*)$",
		  [Perm "mdict", Append "say.log" "* $:\^I$1\n",
		   SayTo "#hirctest" "\^AACTION $1\^A"]),
		("^!ilm$", [Plugin ["/usr/bin/perl", "ilm.pl"] ""]),
		("^!vera +(\\w+)", [Exec "./acrogrep" ["vera.txt", "$1"]]),
		("^!rfc +(\\w+)", [Exec "/usr/bin/perl" ["find-rfc.pl", "$1"]]),
		("^!help *$",
 [Say "? ?? !? !add !bite !brainwash !compliment !country !decide !emote !forget !help !history !i-am-idiot !ilm !insult !new !ping !plan !rfc !say !seen !tnick !time !vera"]),
 		("^!help +i-am-idiot *$", [Say "No cure for that"]),
 		("^!help +!i-am-idiot *$", [Say "Yes, you are."]),
 		("^!help +bite *$", [Say "Hammustab definitsioonil | saba ära"]),
		("^!help \\W", [Say "No help, go find a rope"]),
		("^!ping( |$)", [Say "PONG!!!"]),
		("^!isitfriday( |$)", [Exec "/usr/bin/perl" ["isitfriday.pl"]]),
		("^Tuxaator_?[:,] ", [RandLine "talk.txt"]),
		("^!tnick +(\\w+)", [Perm "root", Send "NICK" ["$1"]]),
		("^!format( |$)", [Say "Not an abacus"]),
		("^\^AVERSION\^A$",
			[Send "NOTICE" ["$0", "\^AVERSION HircB0t v0.0v\^A"]])
	],
	commands = [
		("CONNECTED", [], [Join "#hirctest"]),
		("INVITE", ["", "^#hirctest$"], [Join "#hirctest"]),
		("366", ["", "(.*)"], [SayTo "$1"  "Kurat, ma olen jälle siin..."])
	],
	permits = [
		("root", ["*!~qwr@atsgw.cyber.ee"]),
		("mdict", [":dict", ":+"]),
		("dict", [":root", ":@",
			  "mzz!mzz@uba.linux.ee"])
	],
	nopermit = [RandLine "insult.txt"]
}
